@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: url("imagens/background-header.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    height: 610px;
    padding: 25px;
    box-shadow: inset 0 0 200px 90px black;
}

.header-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 136px;
}

.entrar {
    display: flex;
    gap: 20px;
}

.entrar select {
    background-color: transparent;
    color: snow;
    border-radius: 3px;
    outline: none;
    padding: 5px 0;
}

.entrar option {
    background-color: grey;
}

.entrar input {
    padding: 5px 15px;
    color: snow;
    font-family: 'Open Sans', sans-serif;
    background-color: #E50914;
    border: none;
}

.informar-email {
    padding: 80px 0;
    width: 80%;
    height: 330px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.informar-email h1 {
    font-size: 42px;
    font-weight: bold;
}

.informar-email h2 {
    font-size: 23px;
    line-height: 80px;
}

.informar-email h1,.informar-email h2, .informar-email p {
    margin: auto 230px;
    font-family: 'Open Sans', sans-serif;
    color: snow;
}

.E-mail {
    display: flex;
    justify-content: center;
}

.E-mail input {
    margin-top: 25px;
    padding: 10px;
}

.E-mail input:first-child {
    width: 370px;
}

.E-mail input:last-child {
    width: 150px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: snow;
    background-color: #F40612;
    border: none;
}

/* Primeira Section */

.tv {
    background-color: black;
}

.tela-demo {
    display: flex;
    justify-content: space-between;
    
    height: 500px;
    margin: auto;
    margin-left: 60px;
}

.secao-text {
    display: flex;
    width: 55%;
    margin-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    color: snow;
    font-family: 'Open Sans', sans-serif;
}

.secao-text h1 {
    line-height: 2em;
    font-size: 42px;
    font-weight: bold;
}

.secao-text h2 {
    line-height: 2em;
    font-weight: bold;
    font-size: 18px;
}

.caixa-video {
    display: flex;
    margin: 0;
    width: 607px;
    
}

.caixa-video img {
    position: absolute;
    width: 40%;
}

.caixa-video video {
    width: 70%;
    height: 78%;
    margin: 1px auto;
    margin-right: 97px;
}

/* Segunda Section */

.tv-anywhere {
    background-color: black;
}

.tela-demo-anywhere {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-left: 29px;
}

.secao-text-anywhere {
    display: flex;
    width: 40%;
    margin-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    color: snow;
    font-family: 'Open Sans', sans-serif;
}

.secao-text-anywhere h1 {
    line-height: 1em;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 25px;
}

.secao-text-anywhere h2 {
    width: 70%;
    line-height: 2em;
    font-weight: bold;
    font-size: 18px;
}

.caixa-video-anywhere {
    display: flex;
    margin: 0;
    width: 607px;
}

.caixa-video-anywhere img {
    position: absolute;
}

.caixa-video-anywhere video {
    width: 88%;
    height: 45%;
    margin: 36px auto;
    margin-left: 45px;
}

@media screen and (max-width: 768px) {
    header {
        height: 1024px;
    }

    .informar-email {
        height: 50%;
        padding-top: 30%;
    }

    .informar-email h1, h2, p {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .informar-email h1 {
        line-height: 50px;
        margin-bottom: 20px;
    }

    .informar-email h2 {
        line-height: 30px;
        margin-bottom: 20px;
    }

    .informar-email p {
        line-height: 20px;
        margin-bottom: 35px;
    }
}